*{
  margin: 0;
  padding:0 !important;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  
}
*:focus {
  outline: 0 !important;
}
.content-head{
  margin-bottom: 30px;

}
#done{
  background-color:#3C50E0;
  color: #ffffff;
  border: none;
  height: 3rem;
  padding: 25px 50px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 4px; 
  width:510px;
  margin: 3rem;
  margin-bottom: 40px;
}
#done:hover{
background-color: #5062e4;
}
.left{
  text-align: center;
  margin-top: 2rem;
  
}
.logo-img{
  margin-bottom: 40px;
}
#resend-link{
  text-decoration: none;
  color: #5466e4;
}
*{
  font-family: "Montserrat", sans-serif;

}

/* Media Query */
@media only screen and (max-width: 320px) {
#done{
   margin-left: 16px;
   margin-right: 10px;
}
.left{
  padding-left:0;
  
}
}

@media only screen and (max-width: 768px) {
  #done{
width: 18rem;  
text-align: center;  }
 
}


@media only screen and (min-width: 1024px) and (max-device-width:1140px){
  #done{
    width: 400px;
  }

   }
   @media only screen and (min-width: 768px) and (max-device-width:1024px){
    #done{
      width: 300px;
    }
  
     }