* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
*:focus {
    outline: 0 !important;
}
/* Navigation  */


nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
}
.nav-links li a:hover {
    border-bottom: 2px solid #FCB300;
    font-weight: bold;

}

.burger {

    display: none;
}
ul {
    padding-left: 8rem;
}
.logo{
    margin-left: 0;
}
nav ul li{
    margin-top: 66px;
    margin-right:25px
}
.container{
max-width: 1040px;
}

#membership-btn{
    color: #3C50E0;
    border: 2px solid  #3C50E0;
    border-radius: 4px;
    padding: 13px 25px;
    text-align: center;
    font-weight: bold;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color:#3C50E0 !important;
;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    /* .nav-links {
        width: 60%;
    } */
    .nav-links a:hover {
        border-bottom: 2px solid #FCB300;

    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 72vh;
        padding-right: 30px;
        top: 26vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding-left:40px;
        
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
        margin-right: 10px;
    }
    
    .burger {
        margin: 14px;
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Navigation */
/* nav{
    padding-left: 10%;
    padding-right: 10%;
}
nav ul li a {
    text-decoration: none;
    font-weight:400;
    margin-left: 1rem;
}
nav ul li a:link {
    color: rgb(0, 0, 0);
}
nav ul li a:visited {
    color: rgb(0, 0, 0);  
    border-bottom: 2px solid #FCB300;
} */

/* nav ul li a:hover {
    border-bottom: 2px solid #FCB300;
    color: rgb(0, 0, 0);
} */

/* nav ul li a:active {
    color: rgb(255, 0, 0);
    border-bottom: 2px solid #FCB300;
}
nav ul li #membership-btn {
    color: #3C50E0;
    border: 2px solid  #3C50E0;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
} */

.buttons{
    width: 300px;
    background-color: #3C50E0;
    color: white;
    border-radius: 4px;
    padding: 1rem;
    border: none;
}


#membership-btn:hover {
    color: white;
    background-color: #5062e4;
}
#sendMessageButton:hover{
    color: white;
    background-color: #5062e4;
}
.buttons:hover{
    background-color: #5062e4;

}